<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/styles.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
-->
  
  <title>Animimik</title>

</head>

<body>
  
  <div class="intro-container">
    <img id="logo" src="static/logo.png" alt="logo">

    <div class="team-name">Animimik</div>
    <div class="proj-info">
      <p id="welcome"> welcome to animimik project </p>

      <p id ="intro">
        We use an image containing an object of interest
        and a video that contains the motions
        which you want to animate the object in the source image by these motions.
      </p>
    </div>
  </div>

  <form id="form" action ="/tomain" method="POST" name = "form" enctype="multipart/form-data">

  <input id="next" type = "submit" class = "btn btn-primary btn-global" value ="Next" style="margin: 0%;"/>
  </form>

</body>
</html>
