<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/styles.css" rel="stylesheet">

  <title>Animimik</title>

</head>

<body>
  <div class="intro-container" style="height: 10%;">
        <img id="logo" src="static/logo.png" alt="logo" style="width: 20%;">
    
        <div class="team-name" style="padding-top: 5%; font-size: 6.5vh;">Animimik</div>
        <div class="proj-info" style="font-size: 2vh;">
          <p style="font-size: 2.5vh;">
          It does not matter how slowly you go, as long as you do not stop.
          </p>
          <p>
          Let your picture moves through our application!
          </p>
        </div>
    </div>

  <div class="result-container">
        <video class="vid-result" height="25%" controls autoplay>
            <source src="{{originalURL}}">
            Your browser does not support the video tag.
        </video>

        <video class="vid-result" height="25%" controls autoplay>
            <source src="{{outputURL}}">
            Your browser does not support the video tag.
        </video>
    </div>
  
  <form id="form" action ="/" method="POST" name = "form" enctype="multipart/form-data">
        <div class="pic-container">

            <div class="row">
                <p class="column rate-box" style="font-size: 2.5vh; margin-top: 0; width: 30%; height: 7.9vh; margin-left: 10%; ">
                    How do feel? ........ ..... ... 
                </p>
    
                <div class="column" id="first-rate">
                    <label class="rad-container">1
                        <input type="radio" name="rate_options" id="rate1" value="rate1"></input>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="column">
                    <label class="rad-container">2
                        <input type="radio" name="rate_options" id="rate2" value="rate2"></input>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="column">
                    <label class="rad-container">3
                        <input type="radio" name="rate_options" id="rate3" value="rate3"></input>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="column">
                    <label class="rad-container">4
                        <input type="radio" name="rate_options" id="rate4" value="rate4"></input>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="column">
                    <label class="rad-container">5
                        <input type="radio" name="rate_options" id="rate5" value="rate5"></input>
                        <span class="checkmark"></span>
                    </label>
                </div>
    
            </div>
    
    
        </div>

        <div class="warp">
            <input id="submit_rate" type = "submit" class = "btn btn-primary btn-global" value ="submit" style="margin: 20%; width: 70px;" />
        </div>
    </form>

</body>
</html>
